.description{

    background-image: linear-gradient(to right,#7D7FF2, #c4c9FD);
    height: 600px;
    z-index: 3;
    color: #5D5FeF;  
}
.description_left{
    width: 50%;
}
.numbers{
    background-color: #5D5FeF;
    width: 90%;
    margin-left: 5%;
    height: 180px;
    z-index: 6;
    position: relative;
    top: 150px;
    border-radius: 20px;
    display: flex;
    
}
.services{


    height: 600px;
    z-index: 3;
    color: black;
    
    
      
}
.services h1{
    padding-top: 200px;
}
.cards{
    display: flex;
    margin-bottom: 30px;
}
.card {
    
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 240px;
    margin-left: 4%;
    margin-top: 30px;
  }

.numbers .num1{
    width: 20%;
    color: white;
    margin-left: 4%;
    margin-top: 2%;
}



.description button{
    width: 200px;
    color: #5D5FeF;
    border-radius: 20px;
    height: 50px;
}